$def with (one, two ,three, other)
<html>
<body>
$kid = other('name',2)
$other.append(kid)
$one bedroom, $two dining room, $three bathroom.
<form name="input" action="/test" method="get">
bedroom:
<select name="one">
<option value=1>1</option>
<option value=2>2</option>
<option value=3>3</option>
<option value=4>4</option>
</select>
</br>
$for i in range(len(other)):
    <select name=$other[i].name>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    </select>
<input type="submit" value="Submit" />
</form>







</body>
</html>